/* body {
  background-color: antiquewhite;
} */

main {
  width: 80%;
  margin: auto;
}

.top-right {
  clip-path: url(#topRight);
}

.tri-clip {
  clip-path: url(#triClip);
}

.top-left {
  clip-path: url(#topRight);
}

.bottom-right {
  fill: blueviolet;
}

.svg-border-mask {
  -webkit-mask-box-image: url(../svg/triangle.svg) 30 repeat;
  mask-border: url(../svg/triangle.svg) 30 repeat;
}

img {
  width: 120px;
  height: auto;
}

.rot-90 {
  transform: rotate(-90deg);
}

.fab-1 {
  position: relative;
  z-index: 1;
}

.fab-2 {
  position: absolute;
  left: 50px;
  z-index: 2;
}

.price-label {
  float: left;
}

.price-value {
  float: right;
}

input[type=radio]{
  transform:scale(1.25);
}